

.App {
  text-align: center;
  width: 90vw;
  margin-left: 5vw; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-size: 76px;
}

h3 {
  width: 70vw;
  margin: 4vh auto;
  text-align: left;
}

.title {
  margin-right: 4vw;
}

.legislature {
  margin-left: 3.5vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#splash-map {
  width: 80vw;

}

.section {
  margin: 15vh 0;
}

.titles {
  z-index: 3;
  text-align: center;
  width: 35vw;
  margin: 0 20vw;
  margin-top: 135px;
  margin-bottom: -500px;
}

.flexy {
  display: flex;

}
.icons {
  width: 150px;
}

.intro-icons {
  width: 150px;
  margin: 0 auto;
}

.pink {
  padding: 400px;
  stroke-dasharray: 5 10 30 10;
  stroke-dashoffset: 5;
}

.slider {
    -webkit-appearance: none;
    width: 60%;
    height: 15px;
    border-radius: 5px;   
    background: #d7d9dd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: DeepSkyBlue;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: DeepSkyBlue;
    cursor: pointer;
}


.prison-compare {
  margin: 0 auto;
}

.pie {
  width: 120px;
  background: #d7d9dd;
  border-radius: 50%;
}

.pie circle {
  fill: none;
  stroke: DeepPink;
  stroke-width: 32;
  animation: rotate 1.5s ease-in;
}

#check {
  stroke-dasharray: 300;
  animation: dash 2s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 600;
  }
}


